In [1]:
import pandas as pd
import numpy as np

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/answer_sheet.csv'
answer_sheet = pd.read_csv(path)

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/stocks.csv'
stocks = pd.read_csv(path, index_col = 0)

path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/trade_train.csv'
trade_train = pd.read_csv(path, index_col = 0)

In [2]:
group_list = sorted(list(set(trade_train['그룹번호'])))

In [3]:
path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group_list[0]+'_score.csv'
score_df = pd.read_csv(path, index_col=0)

In [4]:
score_df = score_df.sort_index(ascending = False)

In [186]:
score_df

        A005930  A009150  A005935  A006400  A000270  A066570  A000660
202006      5.0      NaN      3.0      2.0      NaN      1.0      4.0
202005      5.0      1.0      3.0      2.0      NaN      NaN      4.0
202004      5.0      2.0      3.0      1.0      NaN      NaN      4.0
202003      5.0      2.0      3.0      NaN      NaN      1.0      4.0
202002      5.0      2.0      3.0      NaN      NaN      1.0      4.0
202001      5.0      1.0      3.0      NaN      NaN      2.0      4.0
201912      5.0      1.0      2.0      NaN      NaN      3.0      4.0
201911      5.0      3.0      1.0      NaN      NaN      2.0      4.0
201910      5.0      1.5      NaN      1.5      NaN      3.0      4.0
201909      5.0      2.0      NaN      NaN      1.0      3.0      4.0
201908      5.0      2.0      1.0      NaN      NaN      3.0      4.0
201907      3.0      4.0      NaN      1.0      NaN      5.0      2.0

In [118]:
# 단순지수평활(simple exponential smoothing)

a = 0.8
weight = []
for i in range(12) : 
    if i == 0 : 
        alpha = a
        weight.append(alpha)
    else : 
        alpha = alpha*(1-a)
        weight.append(alpha)

In [121]:
np.array(weight)

array([8.0000e-01, 1.6000e-01, 3.2000e-02, 6.4000e-03, 1.2800e-03,
       2.5600e-04, 5.1200e-05, 1.0240e-05, 2.0480e-06, 4.0960e-07,
       8.1920e-08, 1.6384e-08])

In [38]:
score_df['A005930']

202006    5.0
202005    5.0
202004    5.0
202003    5.0
202002    5.0
202001    5.0
201912    5.0
201911    5.0
201910    5.0
201909    5.0
201908    5.0
201907    3.0
Name: A005930, dtype: float64

In [53]:
score_df = score_df.fillna(0)

In [45]:
answer_sheet

      그룹명    종목번호1    종목번호2    종목번호3
0   MAD01  A000990  A052900  A123010
1   MAD02  A005380  A009830  A139130
2   MAD03  A033250  A089980  A317530
3   MAD04  A101330  A234100  A353810
4   MAD05  A123010  A200670  A215100
5   MAD06  A001840  A007660  A036930
6   MAD07  A001520  A200670  A200780
7   MAD08  A000440  A050120  A060370
8   MAD09  A102940  A105560  A307930
9   MAD10  A009830  A067080  A090410
10  MAD11  A003000  A195440  A239340
11  MAD12  A034730  A139130  A236200
12  MAD13  A028100  A036570  A049080
13  MAD14  A090410  A285130  A353810
14  MAD15  A001510  A058400  A131390
15  MAD16  A010140  A174880  A236200
16  MAD17  A047400  A066430  A200780
17  MAD18  A001510  A003490  A028100
18  MAD19  A089150  A115180  A257370
19  MAD20  A009240  A052900  A091990
20  MAD21  A096530  A239340  A248170
21  MAD22  A004020  A196490  A235980
22  MAD23  A015760  A044960  A105840
23  MAD24  A030350  A139130  A285130
24  MAD25  A005360  A009830  A025870
25  MAD26  A000990  A096530  A290550
26  MAD27  A042670  A068270  A217730
27  MAD28  A032640  A033170  A133750
28  MAD29  A000660  A005360  A096530
29  MAD30  A005930  A014100  A030200
30  MAD31  A044960  A090430  A141020
31  MAD32  A001510  A036930  A239340
32  MAD33  A035720  A052260  A123010
33  MAD34  A047400  A123010  A200670
34  MAD35  A033170  A068270  A282880
35  MAD36  A005360  A036930  A095610
36  MAD37  A003000  A011150  A166090
37  MAD38  A025440  A035420  A090430
38  MAD39  A051910  A200670  A228760
39  MAD40  A005930  A019170  A091990
40  MAD41  A005935  A023590  A060370
41  MAD42  A003000  A052260  A174880
42  MAD43  A000140  A006800  A105560
43  MAD44  A000140  A021080  A023530
44  MAD45  A000660  A000990  A030200
45  MAD46  A032640  A139050  A248170
46  MAD47  A003010  A090430  A317530
47  MAD48  A123010  A166090  A215100

In [49]:
score_df.columns[1]

'A009150'

In [50]:
len(score_df.columns)

7

In [37]:
# 그룹별로 루프
tmp = 0
for group in group_list : 
    path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group+'_score.csv'
    score_df = pd.read_csv(path, index_col=0)
    score_df = score_df.fillna(0)
    score_df = score_df.sort_index(ascending = False)
    
    # 단순지수평활(simple exponential smoothing) 가중치
    a = 0.1
    weight = []
    for i in range(len(score_df)) : 
        if i == 0 : 
            alpha = a
            weight.append(alpha)
        else : 
            alpha = alpha*(1-a)
            weight.append(alpha)
            
    score_dict = {}
    
    # 그룹별 상위 3개 종목 추출
    for i in range(len(score_df.columns)) :
        item_num = 0
        sum_score = score_df[score_df.columns[i]]@np.array(weight)
        score_dict[score_df.columns[i]] = sum_score
        item_num = sorted(score_dict.items(), key=lambda x: x[1], reverse=True)
    answer_sheet['종목번호1'][tmp] = item_num[0][0]
    answer_sheet['종목번호2'][tmp] = item_num[1][0]
    answer_sheet['종목번호3'][tmp] = item_num[2][0]
    tmp += 1

In [34]:
path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group_list[0]+'_score.csv'
score_df = pd.read_csv(path, index_col=0)
score_df = score_df.fillna(0)

In [157]:
score_df

        A005930  A009150  A005935  A006400  A000270  A066570  A000660
201907      3.0      4.0      0.0      1.0      0.0      5.0      2.0
201908      5.0      2.0      1.0      0.0      0.0      3.0      4.0
201909      5.0      2.0      0.0      0.0      1.0      3.0      4.0
201910      5.0      1.5      0.0      1.5      0.0      3.0      4.0
201911      5.0      3.0      1.0      0.0      0.0      2.0      4.0
201912      5.0      1.0      2.0      0.0      0.0      3.0      4.0
202001      5.0      1.0      3.0      0.0      0.0      2.0      4.0
202002      5.0      2.0      3.0      0.0      0.0      1.0      4.0
202003      5.0      2.0      3.0      0.0      0.0      1.0      4.0
202004      5.0      2.0      3.0      1.0      0.0      0.0      4.0
202005      5.0      1.0      3.0      2.0      0.0      0.0      4.0
202006      5.0      0.0      3.0      2.0      0.0      1.0      4.0

In [162]:
item_num = 0
sum_score = score_df[score_df.columns[i]]@np.array(weight)
score_dict[score_df.columns[i]] = sum_score
item_num = sorted(score_dict.items(), key=lambda x: x[1], reverse=True)
answer_sheet['종목번호1'][tmp] = item_num[0][0]
answer_sheet['종목번호2'][tmp] = item_num[1][0]
answer_sheet['종목번호3'][tmp] = item_num[2][0]

In [31]:
answer_sheet.head()

     그룹명    종목번호1    종목번호2    종목번호3
0  MAD01  A005930  A000660  A005935
1  MAD02  A005930  A105560  A006800
2  MAD03  A019170  A005930  A003000
3  MAD04  A005930  A000660  A068270
4  MAD05  A005930  A068270  A035720

In [35]:
answer_sheet

      그룹명    종목번호1    종목번호2    종목번호3
0   MAD01  A005930  A000660  A005935
1   MAD02  A005930  A105560  A006800
2   MAD03  A019170  A003000  A007570
3   MAD04  A005930  A000660  A003000
4   MAD05  A035720  A035420  A068270
5   MAD06  A005930  A035720  A035420
6   MAD07  A005930  A096770  A010950
7   MAD08  A019170  A003000  A007570
8   MAD09  A035720  A005930  A051910
9   MAD10  A015760  A005935  A030200
10  MAD11  A005930  A034730  A000660
11  MAD12  A035420  A035720  A034730
12  MAD13  A015760  A030200  A035720
13  MAD14  A015760  A005930  A005935
14  MAD15  A005930  A096770  A010950
15  MAD16  A096770  A005380  A010950
16  MAD17  A005930  A096770  A005380
17  MAD18  A005930  A000660  A051910
18  MAD19  A005930  A000660  A005935
19  MAD20  A034730  A035420  A105560
20  MAD21  A035720  A035420  A005930
21  MAD22  A068270  A091990  A034730
22  MAD23  A005930  A035720  A051910
23  MAD24  A034730  A091990  A005930
24  MAD25  A005930  A052260  A035720
25  MAD26  A035720  A035420  A005930
26  MAD27  A005930  A096770  A000660
27  MAD28  A035720  A096770  A051910
28  MAD29  A222080  A005930  A218410
29  MAD30  A005930  A222080  A036540
30  MAD31  A222080  A010140  A005930
31  MAD32  A222080  A235980  A032850
32  MAD33  A005930  A000660  A003490
33  MAD34  A017670  A035720  A030200
34  MAD35  A005930  A003490  A000660
35  MAD36  A005930  A096530  A000660
36  MAD37  A035720  A005930  A035420
37  MAD38  A005930  A035720  A035420
38  MAD39  A015760  A003490  A005380
39  MAD40  A034730  A035420  A005930
40  MAD41  A019170  A003000  A007570
41  MAD42  A019170  A003000  A007570
42  MAD43  A005930  A035720  A035420
43  MAD44  A005930  A005935  A105560
44  MAD45  A035720  A005930  A035420
45  MAD46  A005930  A035720  A105560
46  MAD47  A005930  A017670  A005935
47  MAD48  A035420  A035720  A051910

In [36]:
answer_sheet.to_csv('C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/예측표_0.8.csv', index=False)

In [38]:
answer_sheet

      그룹명    종목번호1    종목번호2    종목번호3
0   MAD01  A005930  A000660  A005935
1   MAD02  A005930  A105560  A006800
2   MAD03  A019170  A005930  A003000
3   MAD04  A005930  A000660  A068270
4   MAD05  A005930  A068270  A035720
5   MAD06  A005930  A000660  A035720
6   MAD07  A005930  A096770  A068270
7   MAD08  A005930  A019170  A068270
8   MAD09  A005930  A035720  A000660
9   MAD10  A005930  A015760  A030200
10  MAD11  A005930  A000660  A006800
11  MAD12  A005930  A006800  A068270
12  MAD13  A005930  A015760  A005935
13  MAD14  A015760  A005930  A005380
14  MAD15  A005930  A096770  A010950
15  MAD16  A005930  A096770  A005380
16  MAD17  A005930  A000660  A096770
17  MAD18  A005930  A000660  A051910
18  MAD19  A005930  A005935  A000660
19  MAD20  A005930  A000660  A035720
20  MAD21  A005930  A035720  A051910
21  MAD22  A068270  A005930  A091990
22  MAD23  A005930  A000660  A051910
23  MAD24  A005930  A091990  A096530
24  MAD25  A005930  A000660  A035720
25  MAD26  A005930  A035720  A035420
26  MAD27  A005930  A051910  A000660
27  MAD28  A005930  A096770  A035720
28  MAD29  A222080  A005930  A036540
29  MAD30  A005930  A222080  A036540
30  MAD31  A222080  A005930  A218410
31  MAD32  A005930  A222080  A218410
32  MAD33  A005930  A000660  A003490
33  MAD34  A005930  A035720  A030200
34  MAD35  A005930  A000660  A003490
35  MAD36  A005930  A000660  A096530
36  MAD37  A005930  A035720  A096530
37  MAD38  A005930  A000660  A035720
38  MAD39  A015760  A005930  A005380
39  MAD40  A005930  A035420  A034730
40  MAD41  A019170  A005930  A096530
41  MAD42  A019170  A005930  A096530
42  MAD43  A005930  A000660  A035720
43  MAD44  A005930  A005935  A006800
44  MAD45  A005930  A035720  A005380
45  MAD46  A005930  A000660  A005935
46  MAD47  A005930  A017670  A005935
47  MAD48  A005930  A051910  A035720

In [39]:
answer_sheet.to_csv('C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/예측표_0.1.csv', index=False)

In [179]:
answer_sheet

      그룹명    종목번호1    종목번호2    종목번호3
0   MAD01  A005930  A000660  A005935
1   MAD02  A005930  A105560  A055550
2   MAD03  A019170  A003000  A005690
3   MAD04  A005930  A000660  A003000
4   MAD05  A035720  A035420  A068270
5   MAD06  A005930  A035720  A035420
6   MAD07  A005930  A096770  A010950
7   MAD08  A019170  A003000  A007570
8   MAD09  A035720  A005930  A051910
9   MAD10  A015760  A005935  A030200
10  MAD11  A005930  A034730  A207940
11  MAD12  A035420  A035720  A034730
12  MAD13  A015760  A030200  A035720
13  MAD14  A015760  A005930  A005935
14  MAD15  A005930  A096770  A010950
15  MAD16  A096770  A005380  A010950
16  MAD17  A005930  A096770  A005380
17  MAD18  A005930  A000660  A051910
18  MAD19  A005930  A000660  A005935
19  MAD20  A034730  A035420  A055550
20  MAD21  A035720  A035420  A005930
21  MAD22  A068270  A091990  A034730
22  MAD23  A005930  A035720  A051910
23  MAD24  A034730  A091990  A006800
24  MAD25  A005930  A052260  A035720
25  MAD26  A035720  A035420  A005930
26  MAD27  A005930  A096770  A000660
27  MAD28  A035720  A096770  A051910
28  MAD29  A222080  A061970  A088800
29  MAD30  A005930  A222080  A005290
30  MAD31  A222080  A131370  A010140
31  MAD32  A041140  A226330  A118990
32  MAD33  A005930  A000660  A003490
33  MAD34  A017670  A035720  A030200
34  MAD35  A005930  A003490  A000660
35  MAD36  A005930  A096530  A000660
36  MAD37  A035720  A005930  A035420
37  MAD38  A005930  A035720  A035420
38  MAD39  A015760  A003490  A005380
39  MAD40  A034730  A035420  A005930
40  MAD41  A019170  A003000  A065450
41  MAD42  A019170  A065450  A003000
42  MAD43  A005930  A035720  A035420
43  MAD44  A005930  A005935  A105560
44  MAD45  A035720  A005930  A055550
45  MAD46  A005930  A035720  A105560
46  MAD47  A005930  A017670  A005935
47  MAD48  A035420  A035720  A051910

In [181]:
answer_sheet.to_csv('C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/예측표2.csv', index=False)

In [182]:
trade_train.head()

,기준년월,그룹번호,그룹내고객수,종목번호,그룹내_매수여부,그룹내_매도여부,매수고객수,매도고객수,평균매수수량,평균매도수량,매수가격_중앙값,매도가격_중앙값
0,201907,MAD01,288,A000660,Y,Y,7,17,19,234,74800,78500
1,201907,MAD01,288,A001820,Y,Y,3,4,533,154,47385,46700
2,201907,MAD01,288,A004020,Y,Y,3,3,409,528,41411,40000
3,201907,MAD01,288,A005380,Y,Y,4,3,323,451,140602,140628
4,201907,MAD01,288,A005930,Y,Y,13,19,34,101,45350,46850

In [6]:
scoring_df = pd.DataFrame(index=set(trade_train['그룹번호']), columns=set(trade_train['종목번호']))
scoring_df = scoring_df.fillna(0)
scoring_df = scoring_df.sort_index(ascending = True)
scoring_df.head()

,A049480,A128940,A207760,A289080,A065660,A086900,A003850,A068270,A048430,A095610,...,A034020,A041830,A031390,A111710,A025770,A126560,A042670,A322000,A294630,A222080
MAD01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAD02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAD03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAD04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
MAD05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# 그룹별로 루프
tmp = 0
for group in group_list : 
    path = 'C:/Users/elris/Dropbox/FBA/2020MiraeAsset/woogie/score/'+group+'_score.csv'
    score_df = pd.read_csv(path, index_col=0)
    score_df = score_df.fillna(0)
    score_df = score_df.sort_index(ascending = False)
    
    # 단순지수평활(simple exponential smoothing) 가중치
    a = 0.01
    weight = []
    for i in range(len(score_df)) : 
        if i == 0 : 
            alpha = a
            weight.append(alpha)
        else : 
            alpha = alpha*(1-a)
            weight.append(alpha)
            
    score_dict = {}
    
    for i in range(len(score_df.columns)) :
        item_num = 0
        sum_score = score_df[score_df.columns[i]]@np.array(weight)
        score_dict[score_df.columns[i]] = sum_score
        item_num = sorted(score_dict.items(), key=lambda x: x[1], reverse=True)
        
    for t in range(len(item_num)) :
        scoring_df = scoring_df.astype(float)
        scoring_df[item_num[t][0]][group] = item_num[t][1]
    tmp += 1

In [25]:
scoring_df

,A049480,A128940,A207760,A289080,A065660,A086900,A003850,A068270,A048430,A095610,...,A034020,A041830,A031390,A111710,A025770,A126560,A042670,A322000,A294630,A222080
MAD01,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD02,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.104604,0.0,0.0,0.000000
MAD03,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.116226,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD04,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.060922,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD05,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.975148,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD06,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.834501,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD07,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.055800,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD08,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD09,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.633350,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD10,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD11,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.302500,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD12,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,1.495294,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD13,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.184233,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD14,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.118098,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD15,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.236196,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD16,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD17,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD18,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.081000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD19,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.286854,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD20,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.526832,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD21,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.069736,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD22,0.000000,0.106288,0.000000,0.0,0.0,0.0,0.0,2.833821,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD23,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD24,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD25,0.000000,0.000000,0.101117,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD26,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD27,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.118098,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD28,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.109350,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD29,0.118098,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.387400
MAD30,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.530084
MAD31,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,1.321790
MAD32,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.270000
MAD33,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.038742,0.0,0.0,0.0,0.0,0.0,0.200000,0.0,0.0,0.000000
MAD34,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD35,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD36,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.302535,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD37,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.162000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD38,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.266286,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD39,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.095659,0.0,0.0,...,1.250571,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD40,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.109350,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD41,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD42,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD43,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD44,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD45,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.087170,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD46,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD47,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000
MAD48,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000

In [29]:
scoring_df.to_csv('C:/Users/elris/Dropbox/FBA/top5_score_0.01.csv', index=True)

In [27]:
scoring_df.to_csv('C:/Users/elris/Dropbox/FBA/top5_score_0.1.csv', index=True)